APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5432/auth
APP_CONFIG__DB__SYNC_URL=postgresql+psycopg://user:password@localhost:5432/auth
APP_CONFIG__DB__ECHO=0
APP_CONFIG__REDIS__HOST=127.0.0.1
APP_CONFIG__REDIS__PORT=6379
APP_CONFIG__AUTHJWT_SECRET_KEY='secret'
# тестовая апа
APP_CONFIG__OAUTH_YANDEX__CLIENT_ID=41245e368c414be3bc1e8d172c9be2e6
APP_CONFIG__OAUTH_YANDEX__CLIENT_SECRET=eeb9614f93854b9797496a20daef529b
APP_CONFIG__JAEGER__HOST=127.0.0.1
APP_CONFIG__JAEGER__PORT=4317